@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.custom-shadow {
    box-shadow: 0px 0px 10px #00000029;
}

.date-arrow {
    flex: 0 0 1.25rem;
}

.feedback-card {
    font-family: 'Cute Font', sans-serif;
}

.feedback-card p:last-child {
    font-family: 'Baloo Bhaina 2';
}

.solution-box {
    position: relative;
    z-index: 9999999999;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00000029;
    border-radius: 10px;
}
.active-tab{
    position: relative;    
    color: #1E1E1E;
    font-weight: bold;
}
.active-tab::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border: 2px solid #F08A5D;
    border-radius: 10px;
    bottom: -10px;
}
