<div class="sm:bg-[#f8fcfc] min-h-screen p-4">
  <div class="block sm:hidden">
    <div class="">
      <div class="flex justify-between items-center sm:mb-7 mb-4">
        <div class="flex items-center gap-2.5">
          <div
            class="sm:w-14 sm:h-14 w-10 h-10 rounded-full bg-[#F08A5D] flex items-center justify-center"
          >
            <i class="fa-solid fa-arrow-left-long text-2xl text-[#fff]"></i>
          </div>
          <p
            class="lg:text-3xl lg:font-light md:text-2xl md:font-light sm:text-base font-semibold sm:font-light text-[#1E1E1E]"
          >
            Joymeter Board
          </p>
        </div>
        <div
          class="relative md:max-w-44 lg:max-w-72 w-full lg:block sm:block hidden search-post"
        >
          <span class="absolute text-[#F08A5D] -bottom-1 -left-0.5">|</span>
          <input
            type="text"
            placeholder="Search Post"
            class="border-b bg-transparent text-sm border-[#F08A5D] pb-1 text-[#454545] w-full outline-none ps-3"
          />
          <i
            class="fa-solid fa-magnifying-glass right-5 absolute text-[#F08A5D]"
          ></i>
        </div>
        <div class="">
          <button
            class="border-2 lg:text-xl px-4 py-1 font-medium border-[#F08A5D] sm:text-[#454545] text-[#fff] bg-[#F08A5D] sm:bg-[#FFFFFF] rounded-full text-base"
          >
            <i
              class="fa-solid fa-note-sticky sm:text-[#F08A5D] text-[#fff] me-2"
            ></i>
            <span>Post </span>
            <span class="hidden sm:inline-block">Feedback</span>
          </button>
        </div>
      </div>
      <div class="flex gap-4 items-center mb-7">
        <div
          class="md:max-w-44 sm:max-w-full lg:max-w-48 w-full lg:block sm:block search-post"
        >
          <span class="absolute text-[#F08A5D] -bottom-1 -left-0.5 hidden"
            >|</span
          >
          <input
            type="text"
            placeholder="20:30 Mon 15 Jul, 2021"
            class="border-b bg-transparent text-sm border-[#F08A5D] pb-1 text-[#454545] w-full outline-none ps-3 placeholder:text-[#454545]"
            name="dp3"
            [(ngModel)]="model"
            ngbDatepicker
            #dp3="ngbDatepicker"
            (click)="dp3.toggle()"
          />
        </div>
        <div>
          <i class="fa-solid fa-calendar text-[#F08A5D]"></i>
        </div>
        <div
          class="md:max-w-44 sm:max-w-full lg:max-w-48 w-full lg:block sm:block search-post"
        >
          <span class="absolute text-[#F08A5D] -bottom-1 -left-0.5 hidden"
            >|</span
          >
          <input
            type="text"
            placeholder="20:30 Mon 15 Jul, 2021"
            class="border-b bg-transparent text-sm border-[#F08A5D] pb-1 text-[#454545] w-full outline-none ps-3 placeholder:text-[#454545]"
            name="dp4"
            [(ngModel)]="model"
            ngbDatepicker
            #dp4="ngbDatepicker"
            (click)="dp4.toggle()"
          />
        </div>
      </div>
    </div>

    <div class="flex items-center gap-8 border-b border-[#1e1e1e23] pb-2">
      <button
        class="text-[#1e1e1e52] text-[15px] font-medium"
        [ngClass]="{ 'active-tab': mainTab == 1 }"
        (click)="mainTab = 1"
      >
        Overview
      </button>
      <button
        class="text-[#1e1e1e52] text-[15px] font-medium"
        [ngClass]="{ 'active-tab': mainTab == 2 }"
        (click)="mainTab = 2"
      >
        Charts
      </button>
      <button
        class="text-[#1e1e1e52] text-[15px] font-medium"
        [ngClass]="{ 'active-tab': mainTab == 3 }"
        (click)="mainTab = 3"
      >
        Feedback
      </button>
      <button
        class="text-[#1e1e1e52] text-[15px] font-medium"
        [ngClass]="{ 'active-tab': mainTab == 4 }"
        (click)="mainTab = 4"
      >
        Search
      </button>
    </div>
    <div class="tab-content flex justify-between" id="pills-tabContent">
      <div class="overview" [hidden]="mainTab !== 1">
        <div class="mb-4">
          <h5 class="text-[22px] font-medium text-[#454545] mb-4 mt-2">
            Solution Focused Coaching Circle
          </h5>
          <p class="text-[#454545] lg:mb-8 sm:mb-4">
            At the very top of the MEAN stack is Angular.js, the self-styled “A
            JavaScript MVW Framework” (MVW stands for “Model View and
            Whatever”). At the very top of the MEAN stack is Angular.js, the
            self-styled “A JavaScript MVW Framework”.
          </p>
        </div>
        <div class="flex gap-10 items-center mb-2 flex-wrap">
          <div class="">
            <p
              class="text-[#454545] opacity-50 text-sm font-semibold mb-1 text-[12px]"
            >
              CREATED BY
            </p>
            <div class="flex gap-2 items-center">
              <img
                class="inline-block h-8 w-8 rounded-full ring-2 ring-white"
                src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                alt="img"
              />
              <span class="text-[#454545] font-semibold text-[15px]"
                >Mambo Jambo</span
              >
            </div>
          </div>
          <div class="">
            <p class="text-[#454545] opacity-50 text-sm font-semibold">
              EVENT TYPE
            </p>
            <span class="text-[15px] text-[#454545]">Webiner</span>
          </div>
        </div>
        <div class="my-4">
          <p
            class="text-[#454545] opacity-50 text-sm font-semibold text-[12px]"
          >
            FEEDBACK STATUS
          </p>
          <span class="text-[#00B6A6] text-[15px]">2 days remaining</span>
        </div>
        <div class="">
          <p class="text-[#454545] opacity-50 text-xs font-semibold mb-2">
            EVENT HAPPENED BETWEEN
          </p>
          <div class="flex items-center gap-3">
            <p class="text-[#1E1E1E] text-sm">20:30 Mon 15 Jul, 2021</p>
            <i class="fa-regular fa-circle-right"></i>
            <p class="text-[#1E1E1E] text-sm">12:30 Mon 22 Jul, 2021</p>
          </div>
        </div>
      </div>

      <div class="chart" [hidden]="mainTab !== 2">
        <div class="">
          <div class="relative inline-block text-left">
            <div>
              <p class="text-[#454545] pt-5 pb-2 text-sm font-semibold">
                FILTER FEEDBACK BY SCORE
              </p>
              <button
                type="button"
                class="inline-flex w-full justify-start gap-x-1.5 rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-[#F08A5D] min-w-60"
                id="menu-button"
                aria-expanded="true"
                aria-haspopup="true"
                (click)="isDropdownOpen2 = !isDropdownOpen2"
              >
                SHOW ALL OVER TIME
                <svg
                  class="-mr-1 h-5 w-5 ms-auto text-[#F08A5D]"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <div
                *ngIf="isDropdownOpen2"
                class="absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-[10px] bg-white ring-1 ring-[#f08a5d] focus:outline-none min-w-full"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="menu-button"
                tabindex="-1"
              >
                <div class="py-1" role="none">
                  <a
                    href="javascript:void(0);"
                    class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    SHOW ALL OVER TIME
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    THRILLED
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    ACCOMPLISHED
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    VERY HAPPY
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    BELONGED
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    CHARMED
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >
                    POSITIVE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <canvas id="chartCanvas" #chartCanvas></canvas>
          <!-- <img src="../../../assets/images/graph-remove.png" alt="img" class="w-full" /> -->
        </div>
      </div>

      <div class="feedback" [hidden]="mainTab !== 3">
        <div class="overflow-auto">
          <div
            class="flex items-center gap-3 flex-wrap py-3 max-[865px] text-64 border-21"
          >
            <div
              class="flex items-center gap-2"
              *ngFor="let feedback of feedbackRecords"
              [ngClass]="{ 'active-tab': selectedTab == feedback.name }"
            >
              <p class="font-bold text-xs" (click)="feedBackTab(feedback.name)">
                {{ feedback.name }}
              </p>
              <span
                class="text-[#1E1E1E] w-6 h-6 rounded-full bg-[#ff626252] font-semibold text-xs flex items-center justify-center"
                [ngClass]="{
                                  'bg-[#ff626252]': feedback.type === 'n',
                                  'bg-[#e6c65d4a]': feedback.type === 'p',
                                  'bg-[#00b8a959]': feedback.type === 'vp',
                                  'bg-[#1e1e1e52]': feedback.type === 'c',
                              }"
                >90</span
              >
            </div>
          </div>
          <div
            class="max-[1900px]:grid grid-cols-12 min-[1900px]:flex flex-wrap mt-2 gap-4"
          >
            <div
              class="min-[1990px]:max-w-[15.2rem] max-[1900px]:col-span-4 max-[640px]:col-span-12"
              *ngFor="let review of reviewRecords"
            >
              <app-joymeter-cards
                [review]="review"
                [isMobile]="true"
              ></app-joymeter-cards>
            </div>
          </div>
        </div>
      </div>

      <div class="search" [hidden]="mainTab !== 4">
        <div
          class="relative md:max-w-44 lg:max-w-72 w-full lg:block search-post my-5"
        >
          <span class="absolute text-[#F08A5D] -bottom-1 -left-0.5">|</span>
          <input
            type="text"
            placeholder="Search Post"
            class="border-b bg-transparent text-sm border-[#F08A5D] pb-1 text-[#454545] w-full outline-none ps-3"
          />
          <i
            class="fa-solid fa-magnifying-glass right-5 absolute text-[#F08A5D]"
          ></i>
        </div>
        <div
          class="min-[1990px]:max-w-[15.2rem] max-[1900px]:col-span-4 max-[640px]:col-span-12"
        >
          <div class="bg-[#EBFAF8] rounded-[20px] relative">
            <div class="px-2">
              <div class="flex items-center justify-between pt-2">
                <div class="flex items-center gap-1">
                  <img
                    class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                    alt="img"
                  />
                  <div class="mt-1">
                    <p class="text-[13px] text-[#1E1E1E] font-semibold">
                      Anonymous
                    </p>
                    <span
                      class="text-[13px] text-[#1E1E1E] opacity-50 -mt-[2px] block"
                      >anon.</span
                    >
                  </div>
                </div>
                <div class="flex items-start justify-between me-1">
                  <img
                    src="../../../assets/images/postive-review.png"
                    alt="img"
                    class="w-16 object-contain me-3"
                  />
                  <div class="relative">
                    <button (click)="isDropdownOpen = !isDropdownOpen">
                      <i
                        class="fa-solid fa-ellipsis-vertical text-3xl text-[#F08A5D]"
                      ></i>
                    </button>

                    <div
                      *ngIf="isDropdownOpen"
                      class="absolute custom-shadow right-0 z-10 mt-2 w-36 origin-top-right rounded-[10px] bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                      role="menu"
                      aria-orientation="vertical"
                      aria-labelledby="menu-button"
                      tabindex="-1"
                    >
                      <div class="py-1" role="none">
                        <a
                          href="javascript:void(0);"
                          class="text-[#F08A5D] block px-4 py-2 text-[15px]"
                          role="menuitem"
                          tabindex="-1"
                          id="menu-item-0"
                          ><i class="fa-solid fa-share-nodes text-lg me-1"></i>
                          Share</a
                        >
                        <a
                          href="javascript:void(0);"
                          class="text-[#F08A5D] block px-4 py-2 text-[15px] border-t border[#707070]"
                          role="menuitem"
                          tabindex="-1"
                          id="menu-item-0"
                          ><i class="fa-regular fa-trash-can text-lg me-1"></i>
                          Remove</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-[#00B8A9] text-[27px] feedback-card">Very Happy</p>
              <p
                class="text-[#1E1E1E] text-[13px] decoration-dashed underline decoration-slate-400 underline-offset-4 mb-3"
              >
                Thank you for always being my sides during all the interviews
                and decision makings in the last sprint. Without you if wouldn't
                be that easy for me to manage everything. Looking forward for
                more tasks together :D
              </p>
            </div>
            <img
              src="../../../assets/images/happy-shape.png"
              alt="img"
              class="w-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-[#FCFFFF] custom-shadow rounded-2xl p-4 sm:m-5 lg:m-10 hidden sm:block"
  >
    <img
      src="../../../assets/images/feedback-shape.png"
      alt="img"
      class="absolute top-0 right-0"
    />
    <div class="flex justify-between items-center sm:mb-7 mb-4">
      <div class="flex items-center gap-2.5">
        <div
          class="sm:w-14 sm:h-14 w-10 h-10 rounded-full bg-[#F08A5D] flex items-center justify-center"
        >
          <i class="fa-solid fa-arrow-left-long text-2xl text-[#fff]"></i>
        </div>
        <p
          class="lg:text-3xl lg:font-light md:text-2xl md:font-light sm:text-base font-semibold sm:font-light text-[#1E1E1E]"
        >
          Joymeter Board
        </p>
      </div>
      <div
        class="relative md:max-w-44 lg:max-w-72 w-full lg:block sm:block hidden search-post"
      >
        <span class="absolute text-[#F08A5D] -bottom-1 -left-0.5">|</span>
        <input
          type="text"
          placeholder="Search Post"
          class="border-b bg-transparent text-sm border-[#F08A5D] pb-1 text-[#454545] w-full outline-none ps-3"
        />
        <i
          class="fa-solid fa-magnifying-glass right-5 absolute text-[#F08A5D]"
        ></i>
      </div>
      <div class="">
        <button
          class="border-2 lg:text-xl px-4 py-1 font-medium border-[#F08A5D] sm:text-[#454545] text-[#fff] bg-[#F08A5D] sm:bg-[#FFFFFF] rounded-full text-base relative z-10"
        >
          <i
            class="fa-solid fa-note-sticky sm:text-[#F08A5D] text-[#fff] me-2"
          ></i>
          <span>Post </span>
          <span class="hidden sm:inline-block">Feedback</span>
        </button>
      </div>
    </div>
    <div
      class="bg-[#fff] custom-shadow p-2 custom-shadow rounded-2xl solution-box"
    >
      <div class="grid grid-cols-12 gap-4 bg-white">
        <div class="2xl:col-span-4 lg:col-span-5 sm:col-span-12 col-span-12">
          <div class="lg:px-4 sm:px-2 py-3">
            <div>
              <h5
                class="lg:text-3xl sm:2xl font-semibold text-[#1E1E1E] lg:mb-4 sm:mb-2"
              >
                Solution Focused Coaching Circle
              </h5>
              <p class="text-[#454545] lg:mb-8 sm:mb-4">
                At the very top of the MEAN stack is Angular.js, the self-styled
                “A JavaScript MVW Framework” (MVW stands for “Model View and
                Whatever”). At the very top of the MEAN stack is Angular.js, the
                self-styled “A JavaScript MVW Framework”.
              </p>
            </div>
            <div
              class="flex justify-between items-center lg:mb-5 sm:mb-2 flex-wrap"
            >
              <div class="lg:w-fit lg:mb-0 sm:w-full sm:mb-2">
                <p class="text-[#454545] opacity-50 text-sm font-semibold mb-1">
                  CREATED BY
                </p>
                <div class="flex gap-2 items-center">
                  <img
                    class="inline-block h-8 w-8 rounded-full ring-2 ring-white"
                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                    alt="img"
                  />
                  <span class="text-[#454545] font-semibold">Mambo Jambo</span>
                </div>
              </div>
              <div class="lg:w-fit lg:mb-0 sm:w-full sm:mb-2">
                <p class="text-[#454545] opacity-50 text-sm font-semibold mb-1">
                  EVENT TYPE
                </p>
                <span>Webiner</span>
              </div>
              <div class="lg:w-fit lg:mb-0 sm:w-full sm:mb-2">
                <p class="text-[#454545] opacity-50 text-sm font-semibold mb-1">
                  FEEDBACK STATUS
                </p>
                <span class="text-[#00B6A6]">2 days remaining</span>
              </div>
            </div>
            <div class="border-b border-[#eecfca] lg:pb-4 sm:pb-2">
              <p class="text-[#454545] opacity-50 text-xs font-semibold mb-2">
                EVENT HAPPENED BETWEEN
              </p>
              <div class="flex items-center gap-3">
                <p class="text-[#1E1E1E] text-sm">20:30 Mon 15 Jul, 2021</p>
                <i class="fa-regular fa-circle-right"></i>
                <p class="text-[#1E1E1E] text-sm">12:30 Mon 22 Jul, 2021</p>
              </div>
            </div>
            <div class="lg:mt-4 sm:mt-2">
              <p class="text-[#454545] font-semibold mb-3 text-sm">
                FILTER STATISTICS BY DATE
              </p>
              <div
                class="flex gap-4 items-center flex-wrap sm:justify-between lg:justify-normal"
              >
                <div
                  class="relative sm:max-w-[45%] lg:max-w-48 w-full lg:block sm:block hidden search-post"
                >
                  <span class="absolute text-[#F08A5D] -bottom-1 -left-0.5"
                    >|</span
                  >
                  <input
                    type="datetime"
                    placeholder="Mon 15 Jul, 2021"
                    class="border-b bg-transparent text-sm border-[#F08A5D] pb-1 text-[#454545] w-full outline-none ps-3 placeholder:text-[#454545]"
                    name="dp"
                    [(ngModel)]="model"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                  />
                  <i
                    class="fa-solid fa-calendar-days right-0 bottom-1.5 absolute text-[#F08A5D]"
                    (click)="d.toggle()"
                    type="button"
                  ></i>
                </div>
                <div
                  class="w-5 h-5 rounded-full bg-[#F08A5D] flex items-center justify-center date-arrow"
                >
                  <i class="fa-solid fa-arrow-right text-white"></i>
                </div>

                <div
                  class="relative sm:max-w-[45%] lg:max-w-48 w-full lg:block sm:block hidden search-post"
                >
                  <span class="absolute text-[#F08A5D] -bottom-1 -left-0.5"
                    >|</span
                  >
                  <input
                    type="text"
                    placeholder="August 31st, 2021"
                    class="border-b bg-transparent text-sm border-[#F08A5D] pb-1 text-[#454545] w-full outline-none ps-3 placeholder:text-[#454545]"
                    name="dp2"
                    [(ngModel)]="model"
                    ngbDatepicker
                    #d2="ngbDatepicker"
                    (click)="d2.toggle()"
                  />
                  <i
                    class="fa-solid fa-calendar-days right-0 bottom-1.5 absolute text-[#F08A5D]"
                    (click)="d2.toggle()"
                  ></i>
                </div>
              </div>
            </div>
            <div class="">
              <div class="relative inline-block text-left">
                <div>
                  <p class="text-[#454545] pt-5 pb-2 text-sm font-semibold">
                    FILTER FEEDBACK BY SCORE
                  </p>
                  <button
                    type="button"
                    class="inline-flex w-full justify-start gap-x-1.5 rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-[#F08A5D] min-w-60"
                    id="menu-button"
                    aria-expanded="true"
                    aria-haspopup="true"
                    (click)="isDropdownOpen2 = !isDropdownOpen2"
                  >
                    SHOW ALL OVER TIME
                    <svg
                      class="-mr-1 h-5 w-5 ms-auto text-[#F08A5D]"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </button>
                  <div
                    *ngIf="isDropdownOpen2"
                    class="absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-[10px] bg-white ring-1 ring-[#f08a5d] focus:outline-none min-w-full"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="menu-button"
                    tabindex="-1"
                  >
                    <div class="py-1" role="none">
                      <a
                        href="javascript:void(0);"
                        class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-0"
                      >
                        SHOW ALL OVER TIME
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-0"
                      >
                        THRILLED
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-0"
                      >
                        ACCOMPLISHED
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-0"
                      >
                        VERY HAPPY
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-0"
                      >
                        BELONGED
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-0"
                      >
                        CHARMED
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="text-[#454545] block px-4 py-2 text-[15px] pb-0"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-0"
                      >
                        POSITIVE
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <canvas id="chartCanvasDesk" #chartCanvasDesk></canvas>
              <!-- <img src="../../../assets/images/graph-remove.png" alt="img" class="w-full" /> -->
            </div>
          </div>
        </div>
        <div class="2xl:col-span-8 lg:col-span-7 sm:col-span-12 col-span-12">
          <div class="overflow-auto h-[830px]">
            <div class="flex items-center gap-4 flex-wrap py-3">
              <div
                class="flex items-center gap-2"
                *ngFor="let feedback of feedbackRecords"
                [ngClass]="{ 'active-tab': selectedTab == feedback.name }"
              >
                <p
                  class="font-bold text-xs"
                  (click)="feedBackTab(feedback.name)"
                >
                  {{ feedback.name }}
                </p>
                <span
                  class="text-[#1E1E1E] w-6 h-6 rounded-full bg-[#ff626252] font-semibold text-xs flex items-center justify-center"
                  [ngClass]="{
                                        'bg-[#ff626252]': feedback.type === 'n',
                                        'bg-[#e6c65d4a]': feedback.type === 'p',
                                        'bg-[#00b8a959]': feedback.type === 'vp',
                                        'bg-[#1e1e1e52]': feedback.type === 'c',
                                    }"
                  >90</span
                >
              </div>
            </div>
            <div
              class="max-[1900px]:grid grid-cols-12 min-[1900px]:flex flex-wrap mt-2 gap-4"
            *ngIf="reviewRecords.length>0;">
              <div
                class="min-[1900px]:max-w-[13.6rem] max-[1900px]:col-span-4 max-[640px]:col-span-12"
                *ngFor="let review of reviewRecords"
              >
                <app-joymeter-cards
                  [review]="review"
                  [isMobile]="false"
                ></app-joymeter-cards>
              </div>
            </div>
            <div
              class="max-[1900px]:grid grid-cols-12 min-[1900px]:flex flex-wrap mt-2 gap-4"
              *ngIf="reviewRecords.length <= 0;">
              <div
                class="min-[1900px]:max-w-[13.6rem] max-[1900px]:col-span-4 max-[640px]:col-span-12"
              >
                <p>No records found</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        src="../../../assets/images/feedback-shape-second.png"
        alt="img"
        class="absolute top-auto -bottom-[80px] -left-[80px] -z-[1]"
      />
    </div>
  </div>
</div>
